#hidden{
	display: none;
}


.title{
	padding-left: 12px;
}


@media screen and (max-width: 900px) {
	.posts{
			grid-template-columns: 1fr;
	}
	.sidebar{
		display: none;
	}
	.search input {
		margin-left: 20px;
		width: 100%;
	}
	.search {
		max-width: 200px;
		padding: 6px 8px;
	}
	.logo{
		max-width: 200px;
	}
	.action_hide{
		display: none;
	}

	.stories{
		margin-left: 10px;
	}

	.header{
		margin: 0px 10px 0px 10px;
	}
	
	.footer{
		display: flex;
	}
	.main{
		padding-right: 0;
	}
	.new_post {
		width: 35px;
		margin-left: 0;
		background: var(--bg);
		padding: 0;
	}

	.new_post img{
		width: 30.67px;
    height: 30.67px;
	}

	.action_item{
		width: 60px;
	}

	.user_avatar{
		border-radius: 100%;
		width: 30.67px;
    height: 30.67px;
	}
}